/* CSS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  overflow-x: hidden !important;
}
body {
  padding: 10px 10px;
  padding-right: 0px;
  padding-left: 0px;
  background:purple;
}
.container {
  width: 100%;
}
#main-content {
  margin-right: 0px;
  margin-left: 0px;
}
#content {
  padding-right: 0px;
  padding-left: 0px;
}
circle {
  stroke: #333;
}
text {
  font: 10px sans-serif;
  pointer-events: none;
}
text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: 0.8;
}
#map {
  width: 100%;
  height: 700px;
}
row {
  margin-right: -15px;
  margin-left: -15px;
}
cantainer.paratext-info {
  height: 600px;
}
#header {
  border-color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 9px;
  -webkit-text-stroke-width: 1px;
}
.zoomTarget {
  background-color: #fff;
  float: left;
}
#headercollapse > ul > li:nth-child(1) > a {
  margin-left: 10px;
}
#footer {
  color: #484848;
  border-color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-size: 11px;
  font-weight: light;
  margin-left: 40px;
  line-height: 12px;
}
#person-region {
  width: 100%;
  height: 600px;
}
.stroke {
        fill: none;
        stroke: #000;
        stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: #222;
}

.click {
    fill: yellow;
}
.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.land:hover {
    fill: red;
}
#tooltip {
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0.90;
  position: absolute;
  min-width: 60px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}   
.scale {
  margin-left: 20px;
} 
.leaflet-popup-content-wrapper {
  box-shadow: none;
  background: none;
}
.leaflet-popup-content {
  padding: 0px 0px 0px;
}
.leaflet-popup-tip {
  border-top: none;
}
.leaflet-popup-close-button {
  opacity: 0.0;
}